<div class="HStack">
  <slot />
</div>

<style>
  .HStack {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3em;
    column-gap: 2em;
    height: fit-content;
  }

  .HStack > :global(*) {
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 999;
  }
</style>
