<div class="ArticleHeaderBlock">
  <div class="content">
    <slot name="content" />
  </div>
  <div class="image">
    <slot name="image" />
  </div>
</div>

<style>
  .ArticleHeaderBlock {
    display: grid;
    grid-template-columns: auto minmax(0, 100%);
    gap: 2rem;
    padding-inline: 1rem;
  }
  .image {
    display: flex;
    align-items: center;
  }
  @media (max-width: 768px) {
    .ArticleHeaderBlock {
      grid-template-columns: 1fr;
    }
  }
</style>
