---
import type { CollectionEntry } from "astro:content"
import ProjectPreview from "./ProjectPreveiw.astro"

interface Props {
  entries: CollectionEntry<"project">[]
}

const { entries } = Astro.props
---

<div class="post-preview__list">
  {entries.map((entry) => <ProjectPreview entry={entry} />)}
</div>

<style>
  .post-preview__list {
    @apply flex flex-col gap-12;
  }
</style>
