---
import PageTitle from "./PageTitle.astro"

interface Props {
  title: string
  subtitle: string
}

const { title, subtitle } = Astro.props
---

<div class="PageHeader">
  <PageTitle title={title} />
  <p class="subtitle">{subtitle}</p>
</div>

<style>
  .PageHeader {
    display: grid;
    text-align: center;
  }
  .subtitle {
    margin: 0;
    color: light-dark(var(--slate-500), var(--slate-200));
  }
</style>
