---
import TagLink from "$components/tag/TagLink.astro"
import { collectTagIds, getRefTagCollection } from "$/lib/tag"

const targets = await getRefTagCollection()
const tagIds = collectTagIds(targets).sort((a, b) => a.localeCompare(b))
---

<ul class="TagsList">
  {
    tagIds.map((tagId) => (
      <li>
        <TagLink tagId={tagId} />
      </li>
    ))
  }
</ul>

<style>
  .TagsList {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 0;
    padding: 0;
  }
</style>
