---
import { getPrev } from "$/lib/series"

interface Props {
  series: string
  current: string
  title?: string
}

const { series, current, title } = Astro.props
const prev = await getPrev(series, current)
const getUrl = (id: string) => `/recipes/${id}`
---

{
  prev && (
    <a class="SeriesPrevLink" href={getUrl(prev.id)}>
      {title ?? prev.title}
    </a>
  )
}

<style>
  .SeriesPrevLink {
    text-decoration: none;
  }
</style>
