---
import type { MarkdownHeading } from "astro"

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
const showHeadings = headings.filter((heading) => heading.depth < 4)

// heading.textが[DRAFT]で始まる場合は、それ以降のheadingを表示しない
const isDraft = (heading: MarkdownHeading) => heading.text.startsWith("[DRAFT]")
const isDraftIndex = showHeadings.findIndex(isDraft)
const notDraftHeadings = isDraftIndex === -1 ? showHeadings : showHeadings.slice(0, isDraftIndex)
---

{
  notDraftHeadings.length > 0 && (
    <ul class="BlogToc">
      {notDraftHeadings.map((heading) => (
        <li>
          <div class="toc-item" class:list={[`_depth-${heading.depth}`]}>
            <a href={`#${heading.slug}`} class="toc-link">
              {heading.text}
            </a>
          </div>
        </li>
      ))}
    </ul>
  )
}

<style>
  .BlogToc {
    display: grid;
    gap: 0.5rem;
    width: fit-content;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .toc-item {
    display: flex;
    gap: 1rem;
  }
  .toc-item::before {
    flex-shrink: 0;
    width: 2ch;
    text-align: end;
  }
  ._depth-2::before {
    content: "##";
  }
  ._depth-3::before {
    content: "-";
  }
  ._depth-3 {
    font-size: 0.9em;
  }
  .toc-link {
    color: inherit;
    text-decoration: none;
  }
  .toc-link:hover {
    color: light-dark(#475569, #e2e8f0);
    text-decoration: underline;
    font-weight: 500;

    text-underline-offset: 0.25rem;
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
  }
</style>
