---
import PublishMonth from "$components/article-link/PublishMonth.astro"

interface Props {
  title: string
  url: string
  date: string
  media?: string
}

const { title, url, date, media } = Astro.props
---

<div class="WritingPreview">
  <a class="link-container" href={url}>
    <div class="inner">
      <div class="background"></div>
      <div class="content">
        <h2 class="title">{title}</h2>
        <p class="desc">{media ?? ""}</p>
      </div>
      <div class="date">
        <PublishMonth date={date} />
      </div>
    </div>
  </a>
</div>

<style>
  .WritingPreview {
    overflow: hidden;
    border-radius: 28px;
    background-color: light-dark(aliceblue, #5edbff91);
  }
  .link-container {
    display: block;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
  }
  .inner {
    --pad-x: 2em;
    --pad-y: 2em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "background"
      "date";
    padding: var(--pad-y) var(--pad-x);
    box-sizing: border-box;
    height: 100%;
  }
  .background {
    grid-area: background;
    justify-self: end; /* 右寄せ */
    align-self: start; /* 上寄せ */
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #f9b234;
    transition: transform 0.5s ease;
    z-index: 1;
    translate: calc(50% + var(--pad-x)) calc(-50% - var(--pad-y));
  }
  .link-container:hover .background {
    transform: scale(7);
  }
  .WritingPreview:nth-child(2n) .background {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  .WritingPreview:nth-child(3n) .background {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  .WritingPreview:nth-child(4n) .background {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  .WritingPreview:nth-child(5n) .background {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  .WritingPreview:nth-child(6n) .background {
    background: radial-gradient(#f588d8, #c0a3e5);
  }

  .content {
    grid-area: background;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;
    z-index: 2;
    font-weight: bold;
    font-size: 30px;
  }
  .date {
    grid-area: date;
    font-weight: bold;
    color: light-dark(#f9b234, #6dfdff);
    z-index: 2;
    justify-self: end;
  }
  .title {
    margin: 0;
    color: light-dark(var(--slate-500), var(--slate-200));
    align-self: center;
  }
  .desc {
    margin: 0;
    color: light-dark(var(--slate-500), var(--slate-200));
    font-size: 1rem;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
    justify-self: start;
    min-height: 2rem;
  }
  :where(.title, .desc, .date) {
    transition: color 0.25s ease;
  }
  .link-container:hover :where(.title, .desc, .date) {
    color: #fff;
  }
</style>
