---
import type { CollectionEntry } from "astro:content"
import RecipePreview from "./RecipePreview.astro"

interface Props {
  entries: CollectionEntry<"recipe">[]
}

const { entries } = Astro.props
---

<div class="RecipePreviewList">
  {entries.map((entry) => <RecipePreview entry={entry} />)}
</div>

<style>
  .RecipePreviewList {
    display: grid;
  }
</style>
