---
import RecipePreview from "./RecipePreview.astro"
import type { RecipeNotComingSoon } from "$/lib/collection"

interface Props {
  entries: RecipeNotComingSoon[]
}

const { entries } = Astro.props
---

<div class="RecipePreviewList">
  {entries.map((entry) => <RecipePreview entry={entry} />)}
</div>

<style>
  .RecipePreviewList {
    display: grid;
    gap: 1rem;
  }
</style>
