:root {
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
  color: var(--gray-200);
}

@font-face {
  font-family: "TsukuBRdGothic";
  src: url("/fonts/AppleTsukuARdGothic-Regular-AlphaNum-01.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TsukuBRdGothic";
  src: url("/fonts/AppleTsukuBRdGothic-Bold-AlphaNum-02.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Ysabeau Office", "TsukuBRdGothic";
}

[data-icon] > symbol {
  overflow: visible;
}

:root {
  --gray-200: oklch(0.928 0.006 264.531);
  --gray-300: oklch(0.872 0.01 258.338);
  --gray-400: oklch(0.707 0.022 261.325);
  --gray-500: oklch(0.551 0.027 264.364);
  --gray-600: oklch(0.446 0.03 256.802);
  --gray-700: oklch(0.373 0.034 259.733);

  --slate-100: oklch(0.968 0.007 247.896);
  --slate-200: oklch(0.929 0.013 255.508);
  --slate-300: oklch(0.869 0.022 252.894);
  --slate-400: oklch(0.704 0.04 256.788);
  --slate-500: oklch(0.554 0.046 257.417);
  --slate-600: oklch(0.446 0.043 257.281);
  --slate-700: oklch(0.372 0.044 257.287);
}

img {
  max-width: 100%;
  height: auto;
}
