.markdown-alert {
  --alert-theme-color: inherit;

  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin-block: 1rem;
  background-color: light-dark(rgb(249 251 255 / 45%), rgb(100 116 139 / 35%));
  color: inherit;
  border-inline-start: 3px double var(--alert-theme-color);
}
.markdown-alert p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.markdown-alert .markdown-alert-title {
  align-items: center;
  display: inline-flex;
  font-size: 0.9rem;
  line-height: 1;
  font-weight: bold;
  gap: 0.5rem;
  color: var(--alert-theme-color);
}
.markdown-alert .markdown-alert-title svg {
  fill: currentColor;
}

.markdown-alert.markdown-alert-note {
  --alert-theme-color: #61c8fe;
}
.markdown-alert.markdown-alert-caution {
  --alert-theme-color: #ff70a6;
}
.markdown-alert.markdown-alert-tip {
  --alert-theme-color: #68e2cb;
}
.markdown-alert.markdown-alert-important {
  --alert-theme-color: #a898ff;
}
.markdown-alert.markdown-alert-warning {
  --alert-theme-color: #ffc000;
}
