<footer class="Footer">
  <div class="Footer-copy">&copy; 2025 tomixy</div>
</footer>

<style>
  .Footer {
    margin-block-start: auto;
    padding-block: 1.5rem;
    border-block-start: 1px solid;
    border-block-start-color: light-dark(var(--gray-200), var(--gray-600));
  }
  .Footer-copy {
    text-align: center;
  }
</style>
