---
import { SITE } from "$/config"
import ModeSwitcherBtn from "$/components/mode-switcher/ModeSwitcherBtn.svelte"
import { Icon } from "astro-icon/components"

const topUrl = SITE.base
---

<header class="header">
  <h3 class="header__title">
    <a href={topUrl}>{SITE.name}</a>
  </h3>
  <nav class="header__ref">
    <ul class="header__ref-list">
      <li>
        <a href="https://www.npmjs.com/~tomixy" title="npm">
          <Icon name="ri:npmjs-line" size={28} />
        </a>
      </li>
      <li>
        <a href={SITE.githubUrl} title="GitHub">
          <Icon name="mingcute:github-line" size={28} />
        </a>
      </li>
      <li>
        <a href="https://bsky.app/profile/tetracalibers.bsky.social" title="Bluesky">
          <Icon name="mingcute:bluesky-social-line" size={28} />
        </a>
      </li>
      <li>
        <a href={"https://twitter.com/" + SITE.authorTwitter} title="X（Twitter）">
          <Icon name="ri:twitter-x-line" size={28} />
        </a>
      </li>
    </ul>
    <ul class="header__ref-list">
      <li>
        <ModeSwitcherBtn client:visible />
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    display: grid;
    place-items: center;
    gap: 2.5rem;
    padding-block-start: 2rem;
    padding-block-end: 0.75rem;
    border-block-end: 1px solid;
    border-block-end-color: light-dark(var(--gray-200), var(--gray-600));
  }
  .header__title {
    margin: 0;
    text-align: center;
  }
  .header__title a {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 800;
    color: light-dark(var(--slate-600), var(--slate-300));
    text-decoration: none;
  }

  .header__ref {
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    padding-inline: 1rem;
    box-sizing: border-box;
    width: 100%;
  }

  .header__ref-list {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
    padding: 0;
  }
  .header__ref-list > li {
    display: flex;
  }
  .header__ref-list a {
    display: flex;
    color: var(--gray-400);
  }
</style>
