---
import { toTitleCase } from "$/utils"
import { NAV_ITEMS, SITE } from "$/config"

const createRoot = (path: string) => path.split("/").slice(0, 2).join("/")

const navItems = Object.keys(NAV_ITEMS).map((navItemKey) => {
  const { path, ...navItem } = NAV_ITEMS[navItemKey]
  const root = createRoot(path)
  const currentRoot = createRoot(Astro.url.pathname)
  return {
    ...navItem,
    path: SITE.base + path,
    isCurrent: root === currentRoot
  }
})
---

<nav class="nav">
  <ul class="nav-list">
    {
      navItems.map((item) => (
        <li>
          <a class:list={[{ current: item.isCurrent }]} href={item.path} title={item.title}>
            {toTitleCase(item.title)}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<style>
  .nav {
    padding: 0.75rem;
  }
  .nav-list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-block: 0.5rem;
    padding-inline: 0;
    margin: 0;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .nav-list a {
    color: light-dark(var(--slate-600), var(--slate-300));
    text-decoration: none;
    padding-block-end: 0.25rem;
  }
  .nav-list a.current {
    border-block-end-style: solid;
    border-block-end-width: 2px;
    border-block-end-color: var(--slate-500);
  }
</style>
