---
import { SITE } from "$/config"
import type { SeriesArticleSlug, SeriesArticles } from "$/lib/series"
import { Icon } from "astro-icon/components"

interface Props {
  current: SeriesArticleSlug
  series: SeriesArticles
}

const { series, current } = Astro.props

const nextArticles = series.getNextArticles(current)
const getRecipePageUrl = (articleId: string) => SITE.base + `/recipes/${articleId}`
---

{
  nextArticles.length > 0 && (
    <>
      <h2>Next Step</h2>
      <ul class="NextList">
        {nextArticles.map((page) => (
          <li class="NextList-item">
            <Icon name="hugeicons:trade-up" size={32} />
            <a class="no-marker" href={getRecipePageUrl(page.id)}>
              {page.data.title}
            </a>
          </li>
        ))}
      </ul>
    </>
  )
}

<style>
  .NextList {
    padding: 0;
    list-style: none;
  }

  .NextList-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--slate-400);
  }
</style>
