---
import { SITE } from "$/config"
import type { SeriesArticleSlug, SeriesArticles } from "$/lib/series"
import { Icon } from "astro-icon/components"

interface Props {
  current: SeriesArticleSlug
  series: SeriesArticles
}

const { series, current } = Astro.props

const nextArticle = series.getNextArticle(current)
const getRecipePageUrl = (articleId: string) => SITE.base + `/recipes/${articleId}`
---

{
  nextArticle && (
    <>
      <h2>Next Step</h2>
      <div class="Next-item">
        <Icon class="next-icon" name="hugeicons:trade-up" size={32} />
        <a class="no-marker" href={getRecipePageUrl(nextArticle.id)}>
          {nextArticle.data.title}
        </a>
      </div>
    </>
  )
}

<style>
  .Next-item {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    color: var(--slate-400);
  }

  .next-icon {
    flex-shrink: 0;
  }
</style>
