---
import { Icon } from "astro-icon/components"

interface Props {
  references: { title: string; url: string }[]
}

const { references } = Astro.props
---

<h2 class="title">References</h2>
<ul class="RefList">
  {
    references.map((reference) => (
      <li class="RefList-item">
        <Icon name="game-icons:spell-book" size={32} />
        <a class="no-marker" href={reference.url} target="_blank" rel="noopener noreferrer">
          {reference.title}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .RefList {
    padding: 0;
    list-style: none;
  }

  .RefList-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--slate-400);
  }
</style>
