:where(.prose) {
  font-size: 1rem;
  line-height: 1.75;

  min-width: fit-content;

  line-height: 2;
  letter-spacing: 0.025em;
}

:where(.prose p) {
  margin-block: 1.25em;
  color: light-dark(#374151, #e5e7eb);
}

:where(.prose strong) {
  color: light-dark(var(--slate-500), var(--slate-200));
  font-weight: 600;
}

:where(.prose :is(h2, h3, h4)) {
  color: light-dark(#64748b, #cbd5e1);
}
:where(.prose h2) {
  font-weight: 700;
  font-size: 1.5em;
  margin-block-start: 2em;
  margin-block-end: 1em;
  line-height: 1.3333333;
}

:where(.prose h3) {
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

:where(.prose h4) {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

:where(.prose a) {
  color: light-dark(#475569, #e2e8f0);
  text-decoration: underline;
  font-weight: 500;

  text-underline-offset: 0.25rem;
  text-decoration-thickness: 1px;
  text-decoration-style: dotted;
}

:where(.prose a:hover) {
  color: light-dark(#64748b, #cbd5e1);
}

:where(.prose :is(ul, ol)) {
  color: light-dark(#374151, #e5e7eb);
}
:where(.prose ul) {
  padding-inline-start: 1.625em;
  list-style-type: disc;
}
.prose ul > li::marker {
  color: #d1d5db;
}

:where(.prose hr) {
  border-color: light-dark(var(--slate-200), var(--slate-500));
  border-block-start-width: 1px;
  border-block-start-style: solid;
  margin-block: 3em;
}

:where(.prose blockquote) {
  background-color: light-dark(rgb(239, 246, 255, 0.9), rgb(100, 116, 139, 0.5));
  font-style: normal;
  border-bottom-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  border: 1px solid;
  border-color: light-dark(#e2e8f0, #64748b);
  padding-inline: 1.25rem;
  padding-block: 1rem;
  margin-inline: 0;
  border-top-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
:where(.prose blockquote p) {
  margin: 0;
}

@media (min-width: 768px) {
  :where(.prose blockquote) {
    padding-inline: 1.5rem;
  }
}

:where(.dark .prose blockquote) {
  background-color: rgba(100, 116, 139, 0.5);
}

.prose {
  --table-shadow-color: oklch(0.785 0.115 274.713 / 0.2);
  --table-shadow-size: 0.5rem;
  --table-shadow-spread: calc(var(--table-shadow-size) * -0.5);
}
@keyframes scroll-table-shadow-inset {
  0% {
    box-shadow:
      inset calc(var(--table-shadow-size) * -2) 0 var(--table-shadow-size) var(--table-shadow-spread)
        var(--table-shadow-color),
      inset 0 0 var(--table-shadow-size) var(--table-shadow-spread) var(--table-shadow-color);
  }
  10%,
  90% {
    box-shadow:
      inset calc(var(--table-shadow-size) * -1) 0 var(--table-shadow-size) var(--table-shadow-spread)
        var(--table-shadow-color),
      inset var(--table-shadow-size) 0 var(--table-shadow-size) var(--table-shadow-spread) var(--table-shadow-color);
  }
  100% {
    box-shadow:
      inset 0 0 var(--table-shadow-size) var(--table-shadow-spread) var(--table-shadow-color),
      inset calc(var(--table-shadow-size) * 2) 0 var(--table-shadow-size) var(--table-shadow-spread)
        var(--table-shadow-color);
  }
}
:where(.prose .markdown-table-wrapper) {
  overflow-x: auto;
  animation: scroll-table-shadow-inset linear; /* 影のアニメーション */
  animation-timeline: scroll(self x); /* スクロール連動 */
}
:where(.prose table) {
  --border-color: light-dark(var(--slate-300), var(--slate-500));
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  font-size: 0.9rem;
  margin-inline: auto;
  color: light-dark(#374151, #e5e7eb);
  min-width: 80ch;
}
:where(.prose thead) {
  border-block-end: 1px solid var(--border-color);
  background-color: rgb(226 232 240 / 25%);
}
:where(.prose table :is(table, td + td, th + th)) {
  border-inline-start: 1px solid var(--border-color);
}
:where(.prose :is(th, td)) {
  padding: 0.5em 1em;
}

:where(.prose > :first-child) {
  margin-block-start: 0;
}
