.prose {
  --prose-body: #374151;
  --prose-headings: #111827;

  font-size: 1rem;
  line-height: 1.75;

  min-width: fit-content;

  line-height: 2;
  letter-spacing: 0.025em;
}

.prose p {
  margin-block: 1.25em;
  color: var(--prose-body);
}

.prose h4 {
  margin-block-start: 2rem;
  margin-block-end: 1.25rem;
}

.prose a {
  color: #475569;
  text-decoration: underline;
  font-weight: 500;

  text-underline-offset: 0.25rem;
  text-decoration-thickness: 1px;
  text-decoration-style: dotted;
}
.prose a:hover {
  color: #64748b;
}

.prose blockquote {
  font-style: normal;
  background-color: rgba(191, 219, 254, 0.9);
  border: 1px solid currentColor;
  border-top-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  padding-block: 1rem;
  padding-inline: 1.25rem;
}

@media (min-width: 768px) {
  .prose blockquote {
    padding-inline: 1.5rem;
  }
}

/* blockquote のダークモード背景色 */
.dark .prose blockquote {
  background-color: rgba(100, 116, 139, 0.5);
}
