---
import DefaultPageLayout from "$/layouts/default.astro"
import ProseFill from "$components/prose/ProseFill.astro"
import { Image } from "astro:assets"
import img_tomixy from "$/assets/profiles/pastel-tomixy_op.png"

const title = "tomixy"
const description = "I'm a front-end developer for PixelGrid Inc."

const meta = {
  title: "tomixy's biography",
  description: "",
  ogimage: "/og-image.png"
}
---

<DefaultPageLayout content={{ title, description }} meta={meta}>
  <ProseFill>
    <div class="ProseFill-inner">
      <p>2002年生まれ。</p>
      <p>
        高校時代に独学でプログラミングを始め、高校在学中からフリーランスとしてWeb開発に携わる。<br />
        卒業後は都内のIT企業にてフロントエンド・バックエンドともに設計・実装の主力となる傍らで、HTML・CSS・VBA・Laravelなどの勉強会講師も経験した。
      </p>
      <p>次第にアクセシビリティやグラフィック表現に携わりたいという思いが強くなり、フロントエンドの道を選ぶ。</p>
      <p>
        2022年11月に<a href="https://www.pxgrid.com/">
          株式会社ピクセルグリッド
        </a>に入社し、現在は末っ子フロントエンドエンジニアとして邁進している。
      </p>
      <div class="author w-fit mx-auto">
        <Image src={img_tomixy} alt="tomixy" style="max-width: 160px;" />
      </div>
    </div>
  </ProseFill>
</DefaultPageLayout>

<style>
  .ProseFill-inner {
    font-size: 1.125rem;
    padding-inline: calc(2vw * 2.5);
  }
</style>
