---
import DefaultPageLayout from "$/layouts/default.astro"
import { Image } from "astro:assets"
import img_tomixy from "$/assets/profiles/pastel-tomixy_op.png"
import { marked } from "marked"
import Timeline from "$components/pages/index/Timeline.astro"
import Prose from "$components/prose/Prose.astro"
import TagsList from "$components/pages/index/TagsList.astro"

const title = "tomixy"
const description = "I'm a front-end developer for PixelGrid Inc."

const meta = {
  ogimage: "/og-image.png"
}

const profile = `
  2002年生まれ。
  
  高校時代に独学でプログラミングを始め、高校在学中からフリーランスとしてWeb開発に携わる。
  卒業後は都内のIT企業にてフロントエンド・バックエンドともに設計・実装の主力となる傍らで、HTML・CSS・VBA・Laravelなどの勉強会講師も経験した。

  次第にアクセシビリティやグラフィック表現に携わりたいという思いが強くなり、フロントエンドの道を選ぶ。

  2022年11月に[株式会社ピクセルグリッド](https://www.pxgrid.com/)に入社し、現在は末っ子フロントエンドエンジニアとして邁進している。
`

const history = [
  {
    date: "2022-11",
    title: "株式会社ピクセルグリッドに入社",
    details: "入社面接では、「イメージでわかるページネーションAPI」という題目で、5分間のLT発表を行った。"
  },
  {
    date: "2022-05",
    title: "HTML・CSS・VBA等のプログラミング講習会を主催",
    details: "Zoomによる開催。10~20人の参加者が集まる中、事前に配布した自作教材をベースに実演型の講義を行った。"
  },
  {
    date: "2022-04",
    title: "都内IT企業にて、ECサイト開発プロジェクトをリード",
    details:
      "DB設計・API設計・画面設計を主任。開発面ではVueによる画面構築、フォームバリデーション、Laravelによるチャット機能、認証機構などを担当。フレームワーク使用経験が乏しいメンバーも多かったが、テックリードとして技術指導を行い、戦力として育成した。"
  },
  {
    date: "2022-03",
    title: "高校を卒業",
    details: "NHK学園高等学校を卒業し、上京。"
  },
  {
    date: "2021-05",
    title: "フリーランスとして初案件を受託",
    details: "Twitterでの営業活動から、高校在学中に個人でのクライアントワークを経験することとなった。"
  },
  {
    date: "2021-03",
    title: "Web技術に触れ始める",
    details: "HTML、CSS、JavaScriptと同時にbashも学び始め、よく開発環境構築を自動化するようになった。"
  },
  {
    date: "2021-01",
    title: "プログラミング学習を開始",
    details:
      "次世代LaTeXのコア言語expl3を学び始めるも、挫折。学習教材が豊富なメジャー言語から理解しようと考えたのがはじまり。"
  },
  {
    date: "2020-06",
    title: "LaTeXによる組版とマクロ開発を始める",
    details: "高品質な教材を製作するために組版技術を学び始めたが、徐々にマクロ開発に傾倒。プログラミングに関心を持つ。"
  },
  {
    date: "2020-03",
    title: "Clearnote事務局からのスカウトにより、教材販売活動を開始",
    details:
      "高校2年当時から、学部レベルの数学や物理、有機化学に関心があり、自身の学習のために教材を作成していた。現役の大学生からも好評を得て、[Clearnote](https://www.clearnotebooks.com/ja/authors/2541851)事務局からのスカウトにより販売活動を開始することになった。"
  }
]
---

<DefaultPageLayout content={{ title, description }} meta={meta}>
  <Prose>
    <div class="section -profile">
      <Fragment set:html={marked.parse(profile)} />
      <div class="Image-wrapper">
        <Image src={img_tomixy} alt="tomixy" style="max-width: 160px;" />
      </div>
    </div>
  </Prose>
  <Prose>
    <div class="section -history">
      <h2 class="heading">History</h2>
      <Timeline items={history} />
    </div>
  </Prose>
  <Prose>
    <div class="section -skill-tag">
      <h2 class="heading">Skill Tag</h2>
      <TagsList />
    </div>
  </Prose>
</DefaultPageLayout>

<style>
  .section {
    font-size: 1.125rem;
    padding-inline: calc(2vw * 2.5);
  }
  :is(.-history, .-skill-tag) {
    display: grid;
    gap: 3rem;
  }
  .Image-wrapper {
    width: fit-content;
    margin-inline: auto;
  }
  .heading {
    margin: 0;
  }
</style>
