---
import type { CollectionEntry } from "astro:content"
import PostPreview from "./BlogPreview.astro"

interface Props {
  entries: CollectionEntry<"blog">[]
}

const { entries } = Astro.props
---

<div class="BlogPreviewList">
  {entries.map((entry) => <PostPreview entry={entry} />)}
</div>

<style>
  .BlogPreviewList {
    display: grid;
    gap: 2rem;
  }
</style>
