---
import { Icon } from "astro-icon/components"
import { getEntry } from "astro:content"

interface Props {
  id: string
}

const { id } = Astro.props

const tag = await getEntry("tag", id)
const { name, url, icon } = tag!.data
---

<a class="tech-tag" href={url}>
  {icon && <Icon name={icon} />}
  {name}
</a>

<style>
  .tech-tag {
    border: 1px solid rgb(from var(--career-theme-color) r g b / 60%);
    padding-inline: 0.6em;
    padding-block: 0.3em;
    border-radius: 1em;
    font-size: 0.8em;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
  }

  .tech-tag :global(svg) {
    font-size: 1rem;
  }
</style>
