---
import Prose from "$components/prose/Prose.astro"
import type { CollectionEntry } from "astro:content"
import { render } from "astro:content"

interface Props {
  section: CollectionEntry<"like">
}

const { section } = Astro.props
const { Content } = await render(section)
---

<Prose>
  <h2 class="LikeSection-title">{section.data.title}</h2>
  <div class="LikeSection-content"><Content /></div>
</Prose>

<style>
  .LikeSection-title {
    text-transform: capitalize;
    text-align: center;
    word-break: auto-phrase;
  }
  .LikeSection-content {
    max-width: 44rem;
    margin-inline: auto;

    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2;
  }
</style>
