---
import { getMonthName } from "$/utils"
import { Icon } from "astro-icon/components"

interface Props {
  date: string | Date
}

const { date } = Astro.props

const dateObj = new Date(date)
const year = dateObj.getFullYear().toString()
---

<div class="PublishDate">
  <Icon name="blob" />
  <div class="text">
    <span class="year">{year}</span>
    <span class="month">
      {getMonthName(date)}
    </span>
  </div>
</div>

<style>
  .PublishDate {
    display: grid;
    place-items: center;
    color: light-dark(var(--gray-500), var(--gray-300));
    line-height: 1;
    font-weight: 600;
    font-style: italic;
  }
  :is(svg, .text) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  .text {
    display: grid;
    place-items: center;
    gap: 0.2rem;
    padding: 1rem;
  }
  .year {
    font-size: 1.5rem;
  }
  .month {
    font-size: 1.2rem;
  }

  [data-icon="blob"] {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }
</style>
