<div class="ArticleMetaBlock">
  <slot />
</div>

<style>
  .ArticleMetaBlock {
    display: grid;
    width: 100%;
    color: light-dark(var(--slate-400), var(--slate-300));
    gap: 0.25rem;
  }
</style>
