<div class="ArticleMetaBlock">
  <slot />
</div>

<style>
  .ArticleMetaBlock {
    display: grid;
    width: 100%;
    color: light-dark(var(--slate-400), var(--slate-300));
    text-align: start;
    gap: 0.25rem;
    border-inline-start: 2px rgb(229, 231, 235) solid;
    padding-inline-start: 0.5rem;
  }
</style>
