---
import IconLink from "./IconLink.astro"

interface Props {
  links: {
    url?: string
    icon: string
    label: string
  }[]
}

const { links } = Astro.props
---

<ul class="IconLinkList">
  {
    links.map(
      ({ url, label, icon }) =>
        url && (
          <li>
            <IconLink url={url} label={label} icon={icon} />
          </li>
        )
    )
  }
</ul>

<style>
  .IconLinkList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-self: center;
    color: light-dark(var(--slate-400), var(--slate-300));
  }
  @media (min-width: 768px) {
    .IconLinkList {
      justify-self: start;
    }
  }
</style>
