---
import TagLink from "$components/tag/TagLink.astro"
import type { ReferenceDataEntry } from "astro:content"

interface Props {
  tags: ReferenceDataEntry<"tag">[]
}

const { tags } = Astro.props
---

<div class="TagList">
  {
    tags.length > 0 &&
      tags.map((tag) => (
        <TagLink tagId={tag.id} small>
          {tag}
        </TagLink>
      ))
  }
</div>

<style>
  .TagList {
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 0.75rem;
    column-gap: 0.5rem;
    justify-content: center;
  }
  @media (min-width: 768px) {
    .TagList {
      justify-content: start;
    }
  }
</style>
