---
import { SITE } from "$/config"
import BaseHead from "$/components/layout/BaseHead.astro"
import MainLayout from "$/components/layout/MainLayout.astro"
import PageHeader from "$/components/pages/index/PageHeader.astro"

interface Props {
  content: {
    title: string
    description: string
  }
  meta?: {
    title?: string
    description?: string
    ogimage?: string
  }
}

const { content, meta } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead
      title={meta?.title ? `${SITE.title} | ${meta.title}` : SITE.title}
      description={meta?.description ?? content.description}
      image={meta?.ogimage ?? "/og-image.png"}
    />
  </head>
  <body>
    <MainLayout>
      <div class="MainLayout-inner">
        <PageHeader title={content.title} subtitle={content.description} />
        <div class="slot-wrapper"><slot /></div>
      </div>
    </MainLayout>
  </body>
</html>

<style>
  body {
    margin: 0;
  }
  .MainLayout-inner {
    display: grid;
    gap: 3.5rem;
  }
  .slot-wrapper {
    display: contents;
  }
</style>
